.splash {
    background-color: #FCFFF1;
}

/*--Styling and images for nav bar--*/
.navbar-btn {
    margin-left: 30px;
}
.navbar-nav {
    margin-right: 30px;
}
.navImage {
    width: 35px;
    margin-bottom: 4px;
}
.navText {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 20px;
}
.navLogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--Padding for fixed navbar--*/
.container { 
    padding-top: 70px; 
}

/*---Styles for home.html first row---*/
.box {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.radioBtn{
    margin-bottom: 10px;
}

.imgLarge {
    width: 20%;
}

.rockstarImg {
    width: 75px;
    margin-left: -150px;
}

.smdescription h1{
    font-family: "Raleway";
}
.smdescription p{
    font-family: "Raleway";
    font-size: 20px;
}

.row {
    text-align: center;
    height: 80vh;
    /*border: 1px solid red;*/
    padding-top: 10%;
}

.name-input {
    width: 360px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}
.email-input {
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}
.pass-input {
    padding: 5px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}

.signupbutton {
/*    -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
    background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);*/
    background-color: #3E86B8;
    border:1px solid #314179;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 155px;
    text-decoration:none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: "Raleway";
}

.signupbutton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
    background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
    background-color:#5972a7;
}
.signupbutton:active {
    position:relative;
    top:1px;
}

.searchButton {
    background-color: #3E86B8;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding-top: 6px;
    text-decoration:none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: "Raleway";
}

.searchResults {
    margin-top: 75px;
}

.searchButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
    background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
    background-color:#5972a7;
}

.searchButton:active {
    position:relative;
    top:1px;
}

.search {
    margin-top: 12px;
}
.signOut{
    margin-top: 8px;
}

/*--Styles for second row--*/
.alarmImg {
    width: 200px;
}
.getNotified h2 {
    color: #DF7A7A;
    font-family: "Raleway";
    font-size: 40px;
}
.getNotified p {
    color: #DF7A7A;
    font-family: "Raleway";
    font-size: 25px;
}
.getNotified hr {
    width: 200px;
    border: 1px solid #A8A9AC;
}

/*.alarm-image {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}*/

/*--Styles for third row--*/
.searchImg {
    width: 200px;
}
.findTicket h1 {
    font-family: "Raleway";
    font-size: 40px;
}
.findTicket p {
    font-family: "Raleway";
    font-size: 25px;
}
.findTicket hr {
    width: 200px;
    border: 1px solid #A8A9AC;
}

/*.ticket-image {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}*/

/*--Styles for fourth row--*/
.graphImg {
    width: 200px;
}

.makePredict h3 {
    color: #3E86B8;
    font-family: "Raleway";
    font-size: 40px;
}

.makePredict p {
    color: #3E86B8;
    font-family: "Raleway";
    font-size: 25px;
}

.makePredict hr {
    width: 200px;
    border: 1px solid #A8A9AC;
}

/*.graph-image {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}*/

/*--Styles for last row (Sign up)--*/
.last-row-name-input {
    width: 350px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}
.last-row-email-input {
    width: 350px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}
.last-row-ps-input {
    width: 350px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #3E86B8;
    font-family: "Raleway";
}

.signuplink {
    margin-top: 10px;
}
/*--Styles for main.html--*/
.signoutButton {
    float: right;
}
.mainText {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 40px;
    color: #3E86B8;
    text-align: center;
}
.mainImage {
    width: 35px;
    margin-bottom: 4px;
}
.searchBar {
    margin-top: 50px;
    width: 450px;
    padding: 8px;
    border: 1px solid black;
    font-family: "Raleway";
    font-size: 20px;
    color: #3E86B8;
}
.mainDescription {
    margin-top: 50px;
    font-family: "Raleway";
    color: #A8A9AC;
    font-size: 20px;
    font-weight: 200;
}

/*--Graph Styling--*/
path {
    fill: none;
    stroke: #A8A9AC;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

svg .data-point {
    stroke: #DF7A7A;
    stroke-width: 1.5px;
    fill: #DF7A7A;        
}

svg .data-point-text {
    font-family: sans-serif;
    font-size: 6px;
    fill: red;
}

svg .axis path, 
svg .axis line {
    fill: none;
    stroke: #A8A9AC;
}

svg .axis text {
    font-family: sans-serif;
    font-size: 6px;
}


