<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn">Watch Video</button>
        <div class="navLogo">
          <span class="navText">tracker</span>
          <img class="navImage" alt="Brand" src="/images/logo.png">
        </div>
        

      </div>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login">Sign In</a></li>
      </ul>
      
    </div>
  </nav>

<div class="splash">
<div class="container">

  <button ng-click="update()"> Update </button> 

  <div class="box">
    <img class="imgLarge" src="/images/Laptop.png">
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="col-sm-8">
        <div class="smdescription">
          <h1>Ticket Tracker</h1>
          <p>Get the most bang for your buck.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <img class="rockstarImg" src="/images/RockStar.png">
      </div>
    </div>

    <div class="col-md-6">
      <form ng-submit="signUp()">
        <div>
          <input class="name-input" ng-model="name" placeholder="Full Name">
        </div>
        
        <div>
          <input class="email-input" ng-model="email" placeholder="Email">
          <input class="pass-input" type="password" ng-model="password" placeholder="Password">
        </div>
        <input class="radioBtn" type="radio" name="terms" value="other"> I agree to the ticket trackers terms and conditions
        <button class="signupbutton" type="submit">Sign up</button>

        <p>Already have an account?
        <a href="#/login">Login</a> </p>
      </form>

      <div ng-show="errorMessage" class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="sign-up-row">
      <div class="col-md-6">
        <div class="alarm-image">
          <img class="alarmImg" src="/images/Alarm.png">
        </div>
      </div>

      <div class="col-md-6">
        <div class="getNotified">
          <h2>Get Notified</h2>
          <div class="underline"></div>
          <p>We can send you updates so you know exactly when to buy</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="findTicket">
        <h1>Find that ticket</h1>
        <div class="underline"></div>
        <p>Search events or flights and track price fluctuations</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ticket-image">
        <img class="searchImg" src="/images/Search.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="graph-image">
        <img class="graphImg" src="/images/Bars.png">
      </div>
    </div>

    <div class="col-md-6">
      <div class="makePredict">
        <h3>Make predictions</h3>
        <div class="underline"></div>
        <p>View easy to read graphs to help you decide when to buy</p>
      </div>
    </div>
  </div>

  <div class="row">
    <form ng-submit="signUp()">
        <div>
          <input class="last-row-name-input" ng-model="name" placeholder="Full Name">
        </div>
        
        <div>
          <input class="last-row-email-input" ng-model="email" placeholder="Email">
        </div>

        <div>
          <input class="last-row-ps-input" type="password" ng-model="password" placeholder="Password">
        </div>

        <div>
          <input class="radioBtn" type="radio" name="terms" value="other"> I agree to the ticket trackers terms and conditions
        </div>
        
        <button class="signupbutton" type="submit">Sign up</button>
      </form>
  </div>

</div>
</div>