<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn">Watch Video</button>
        <div class="navLogo">
          <img class="navImage" alt="Brand" src="/images/logo.png">
          <span class="navText">ticketTracker</span>
        </div>
        

      </div>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Sign Up</a></li>
      </ul>
      
    </div>
  </nav>



<div class="container">

<div class="row">
    <form ng-submit="login()">
        <div>
          <input class="last-row-email-input" ng-model="email" placeholder="Email">
        </div>

        <div>
          <input class="last-row-ps-input" type="password" ng-model="password" placeholder="Password">
        </div>
        
        <button class="signupbutton" type="submit">Log in</button>

        <div class="signuplink">
          <p>New to Ticket Tracker?
          <a href="#/">Sign Up</a> </p>
        </div>
      </form>
  </div>


<div ng-show="errorMessage" class="alert alert-danger">
	{{errorMessage}}
</div>

</div>

