<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="btn btn-default navbar-btn">Watch Video</button>
        <!-- <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
        </a> -->
      </div>
    </div>
  </nav>



<div class="container">

<h2>Log in</h2>

<form ng-submit="login()">
  
  <div>
    <label>Email</label>
    <input ng-model="email">
  </div>
  
  <div>
    <label>Password</label>
    <input type="password" ng-model="password">
  </div>
  
  <button type="submit">Log in</button>
  
</form>

<div ng-show="errorMessage" class="alert alert-danger">
	{{errorMessage}}
</div>

</div>

