	<div class="col-sm-11">
		<input ng-model="searchText">
		<button ng-click="searchEvent()"> Search </button>
	</div>
	<div class="col-sm-1">
		<button class="btn signOut"><a href="#/login" ng-click="authObj.$signOut()">Sign out</a></button>
		</div>
	<div ng-repeat="event in events | filter:searchText">
		<button ng-click="getData(event.$id)"> {{event.name}} </button>
	</div>

	<div>
		{{dates}}
		{{prices}}
	</div>

	<p>Hello World</p>

	
	

	<div class="col-sm-4">
		<button class="btn signOut"><a href="#/login" ng-click="authObj.$signOut()">Sign out</a></button>
	</div>
	<linechart data="data" options="options" mode="" width="" height=""></linechart>


	
