	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

       
        <div class="navLogo">
	         <span class="navText">tracker</span>
	         <img class="navImage" alt="Brand" src="/images/logo.png">
	        </div>
	        <div >
				<input class="search" ng-model="searchText">
				<button class="search searchButton" ng-click="searchEvent()"> Search 
				</button>
			</div>
     	</div>
	    <div >
			<button class=" col-sm-offset-9 btn signOut"><a href="#/login" ng-click="authObj.$signOut()">Sign out</a></button>
		</div>
	</div>
  </nav>
	<div class="searchResults">
		<div ng-repeat="event in events | filter:searchText">
			<button ng-click="getData(event.$id)"> {{event.name}} </button>
		</div>
	</div>

	<p></p>
	

	

	

	
	


	
